.u-marginTop--tiny {
	margin-top: $Theme-size-tiny;
}

.u-marginTop--xSmall {
	margin-top: $Theme-size-xSmall;
}

.u-marginTop--small {
	margin-top: $Theme-size-small;
}

.u-marginTop--medium {
	margin-top: $Theme-size-medium;
}

.u-marginTop--large {
	margin-top: $Theme-size-large;
}

.u-marginTop--xLarge {
	margin-top: $Theme-size-xLarge;
}

.u-marginBot--tiny {
	margin-bottom: $Theme-size-tiny;
}

.u-marginBot--xSmall {
	margin-bottom: $Theme-size-xSmall;
}

.u-marginBot--small {
	margin-bottom: $Theme-size-small;
}

.u-marginBot--medium {
	margin-bottom: $Theme-size-medium;
}

.u-marginBot--large {
	margin-bottom: $Theme-size-large;
}

.u-marginBot--xLarge {
	margin-bottom: $Theme-size-xLarge;
}

.u-marginLeft--tiny {
	margin-left: $Theme-size-tiny;
}

.u-marginLeft--xSmall {
	margin-left: $Theme-size-xSmall;
}

.u-marginLeft--small {
	margin-left: $Theme-size-small;
}

.u-marginLeft--medium {
	margin-left: $Theme-size-medium;
}

.u-marginLeft--large {
	margin-left: $Theme-size-large;
}

.u-marginLeft--xLarge {
	margin-left: $Theme-size-xLarge;
}

.u-marginRight--tiny {
	margin-right: $Theme-size-tiny;
}

.u-marginRight--xSmall {
	margin-right: $Theme-size-xSmall;
}

.u-marginRight--small {
	margin-right: $Theme-size-small;
}

.u-marginRight--medium {
	margin-right: $Theme-size-medium;
}

.u-marginRight--large {
	margin-right: $Theme-size-large;
}

.u-marginRight--xLarge {
	margin-right: $Theme-size-xLarge;
}
