@import "base/theme";

@import "base/button";
@import "base/footer";
@import "base/welcomeHero";
@import "base/metaHero";
@import "base/statsHero";
@import "base/metro";
@import "base/navbar";
@import "base/scrollTop";
@import "base/text";

@import "utils/margins";
@import "utils/flex";


*, *:before, *:after {
	box-sizing: border-box;
}

body {
  background-color: $Theme-color-dark;
}

.fa-icon {
  width: auto;
  height: 1em; /* or any other relative font sizes */
}
