@import "normalize";

@import "base/theme";

@import "base/button";
@import "base/footer";
@import "base/hero";
@import "base/metro";
@import "base/navbar";
@import "base/text";

@import "utils/margins";
@import "utils/flex";


*, *:before, *:after {
	box-sizing: border-box;
}

.fa-icon {
  width: auto;
  height: 1em; /* or any other relative font sizes */
}
