.Button {
  background: $Theme-color-light;
  outline: 0;
  border: 0;
  color: $Theme-color-dark;
  cursor: pointer;
  font-weight: 600;
  padding: $Theme-size-xSmall;
  text-align: center;
  border-radius: 3%;

  &:hover {
    background: $Theme-color-grey;
  }
}

.Button--round {
  border-radius: 50%;
}

.Button--roundTop {
  border-radius: 50% 50% 0 0;
}

.Button--roundBot {
  border-radius: 0 0 50% 50%;
}
