.Hero {
  @include font-properties(base);

  align-items: center;

  background-color: $Theme-color-secondary;
  background-size: cover;
  background-image: url("~@/assets/imgs/hero_cover.jpg");
  background-repeat: no-repeat;
  background-position: bottom;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, $Theme-color-secondary, $Theme-color-grey);
    opacity: 0.6;
  }

  display: flex;
  color: $Theme-color-light;
  flex-direction: column;
  justify-content: center;
  padding: $Theme-size-medium;
  position: relative;
  width: 100%;

  overflow: hidden;
}

.Hero-bpmWrapper {
  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;

  transform: translate(0, -75px);
  transition: transform 0.3s ease;

  z-index: 20;
  width: 100%;
}

.Hero-bpmWrapper--hidden {
  transform: translate(0, -100px);
}

.Hero-bpmWrapper--peek {
  transform: translate(0, -75px);
}

.Hero-bpmWrapper--open {
  transform: translate(0, 0);
}

.Hero-bpmControls {
  @include font-properties(smaller);

  display: flex;
  flex-direction: column;
}

.Hero-radialPulse {
  z-index: 1;
  animation: radialPulse 1s infinite linear forwards;
  animation-play-state: paused;
  position: absolute;
  background-image: repeating-radial-gradient(
    circle at top center,
    $Theme-color-grey,
    $Theme-color-grey 10px,
    $Theme-color-dark-light 10px,
    $Theme-color-dark-light 20px
  );
  height: 100%;
  width: 100%;
}

@keyframes radialPulse {

  0% {
    transform: scale(1, 1);
    opacity: 0;
  }

  25% {
    opacity: 0.018;
  }

  100% {
    transform: scale(2, 2);
    opacity: 0;
  }
}

.Hero-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

.Hero-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  position: relative;
}

.Hero-controls {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}
.Hero-welcomeMsg {
  @include font-properties(title);
  font-weight: 600;
  text-align: center;
}

.Hero-extensionTitle {
  @include font-properties(base);
}

.Hero-extensionList {
  @include font-properties(smaller);
  font-weight: 600;
}
