.Hero {
  @include font-properties(base);

  align-items: center;

  background-color: $Theme-color-secondary;
  background-size: cover;
  background-image: url("~@/assets/imgs/hero_cover.jpg");
  background-repeat: no-repeat;
  background-position: bottom;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, $Theme-color-secondary, $Theme-color-grey);
    opacity: 0.6;
  }

  display: flex;
  color: $Theme-color-light;
  flex-direction: column;
  justify-content: center;
  padding: 140px;
  padding-left: $Theme-size-medium;
  padding-right: $Theme-size-medium;
  position: relative;
  width: 100%;

  overflow: hidden;
}

.Hero-radialPulse {
  z-index: 1;
  animation: radialPulse 1s infinite linear forwards;
  animation-play-state: paused;
  position: absolute;
  background-image: repeating-radial-gradient(
    circle at top center,
    $Theme-color-grey,
    $Theme-color-grey 10px,
    $Theme-color-dark-light 10px,
    $Theme-color-dark-light 20px
  );
  height: 100%;
  width: 100%;
}

@keyframes radialPulse {

  0% {
    transform: scale(1, 1);
    opacity: 0;
  }

  25% {
    opacity: 0.018;
  }

  100% {
    transform: scale(2, 2);
    opacity: 0;
  }
}

.Hero-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

.Hero-uploadZone {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Hero-uploadForm {
  @include font-properties(large)

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Hero-recordForm {
  @include font-properties(large)
}

.Hero-textTitle {
  @include font-properties(title);
  font-weight: 600;
  text-align: center;
}

.Hero-extensionTitle {
  @include font-properties(base);
}

.Hero-extensionList {
  @include font-properties(smaller);
  font-weight: 600;
}
