.Hero {
  @include font-properties(base);

  align-items: center;

  background-color: $Theme-color-secondary;
  background-size: cover;
  background-image: url("~@/assets/imgs/hero_cover.jpg");
  background-repeat: no-repeat;
  background-position: bottom;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, $Theme-color-secondary, $Theme-color-grey);
    opacity: 0.6;
  }

  display: flex;
  color: $Theme-color-light;
  flex-direction: column;
  justify-content: center;
  padding: $Theme-size-large $Theme-size-medium;
  position: relative;
  width: 100%;

  overflow: hidden;
}

.Hero-radialPulse {
  z-index: 1;
  animation: radialPulse .5s infinite linear forwards;
  position: absolute;
  background-image: repeating-radial-gradient(
    circle at top center,
    $Theme-color-grey,
    $Theme-color-grey 10px,
    $Theme-color-dark-light 10px,
    $Theme-color-dark-light 20px
  );
  height: 100%;
  width: 100%;
}

@keyframes radialPulse {

  0% {
    transform: scale(1, 1);
    opacity: 0;
  }

  25% {
    opacity: 0.018;
  }

  100% {
    transform: scale(2, 2);
    opacity: 0;
  }
}

.Hero-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

.Hero-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  position: relative;
}

.Hero-controls {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}
.Hero-welcomeMsg {
  @include font-properties(title);
  font-weight: 600;
  text-align: center;
}

.Hero-extensionTitle {
  @include font-properties(base);
}

.Hero-extensionList {
  @include font-properties(smaller);
  font-weight: 600;
}

/*
.Pulser {
  align-items: center;
  background: rgba(41, 42, 45, 0.2);
  border-radius: 50%;
  //border: 10px solid rgba(41, 42, 45, 0.8);
  //border-color: rgba(220, 220, 220, 0.3);
  //box-shadow: 10px -10px rgba(41, 42, 45, 0.8);
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
  position: absolute;
  opacity: 0;
  z-index: 1;

  animation: pulse 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-iteration-count: infinite;
}
*/
.Pulser {
  height: 50px;
  box-shadow: 20px 25px 100px 10px rgba(41, 42, 45, 0.8);

  border-radius: 50%;
  z-index: 1;
  //animation: pulse 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: .25s pulse linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-delay: .25s;
}
@keyframes pulse {
  0% {
    transform: scale( 1, 1);
  }

  90% {
    transform: scale( 1.2, 1.2 );
  }

  100% {
    transform: scale( 1, 1);
  }
}
