$metro-height: 40px;

.Metronome {
  height: $metro-height;
  opacity: 0.75;
  position: relative;
  pointer-events: none;
}

.Metronome-base {
  height: $metro-height;
}

.Metronome-pointer {
  height: $metro-height;
  position:absolute;
  top: -8px;
  left: 13px;
  transform: rotateZ(-45deg);
  transform-origin: bottom;

  animation: metronome 0.7s infinite ease-in-out;
  animation-play-state: paused;
}

@keyframes metronome {
    0% {
      transform: rotateZ(-45deg);
    }

    50% {
      transform: rotateZ(45deg);
    }

    100% {
      transform: rotateZ(-45deg);
    }
}
