.Navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;

  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);

  padding-top: $Theme-size-xSmall;
  padding-bottom: $Theme-size-tiny;

  width: 100%;
}

.Navbar-headerTitle {
  @include font-properties(title, desktop, title);

  display: flex;
  justify-content: center;
  pointer-events: none;

  font-weight: 600;
  color: $Theme-color-dark;
  margin: 0;
}

.Navbar-bpmCount {
  @include font-properties(small);

  color: $Theme-color-dark-light;
  font-weight: 600;

  pointer-events: none;
}
