$logoTextHeight: 80px;
$logoTextMargin: 15px;

.Navbar {
  background: radial-gradient(circle closest-side, rgba(255,255,255,0.2), rgba(255,255,255,0));

  position: absolute;
  top: 0;

  cursor: pointer;

  padding-top: $Theme-size-tiny;
  padding-bottom: $Theme-size-tiny;

  text-align: center;
  user-select: none;
  width: 100%;

  z-index: 999;
}

.Navbar-headerTitle {
  @include font-properties(title, desktop, title);

  display: flex;
  justify-content: center;

  max-height: $logoTextHeight - $logoTextMargin;
  overflow-y: hidden;
}

.Navbar-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  max-height: $logoTextHeight;

  transition: transform 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.Navbar-logo--alt {
  align-items: flex-start;
}

.Navbar-logoText {
  @include font-properties(title, desktop, title);

  color: $Theme-color-main;
  font-size: 40px;
  font-weight: 400;
  text-shadow: $Theme-color-dark-light 2px -1px ;

  margin: 0;

  transition: transform 0.1s ease;

  &:active {
    transform: scale(0.8, 0.8);
  }
}

.Navbar-logoText--alt {
  color: $Theme-color-light-cream;
}

.Navbar-bpmCount {
  @include font-properties(small);

  color: $Theme-color-light;
  font-weight: 600;

  transition: opacity 0.3s ease;
}

.Navbar-bpmCount--flash {
  opacity: 0.4;
}
